<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Include additional entries on separate lines
            </div>
            <div class="panel-body">
                <div class="row" ng-controller='reciterNew'>
                    <div class="col-lg-6"  ng-submit='submit()'>
                        <form role="form">
                            <div class="form-group">
                                <label>CWID / Identifier</label>
                                <input ng-model="cwid" class="form-control" placeholder="rmn2131" required>
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input ng-model="firstName" class="form-control" placeholder="Richard" required>
                            </div>
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input ng-model="middleName" class="form-control" placeholder="Milhouse">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input ng-model="lastName" class="form-control" placeholder="Nixon" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <textarea ng-model="email" class="form-control" placeholder="rmn2131@med.cornell.edu" rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Department</label>
                                <textarea ng-model="department" class="form-control" placeholder="Biochemistry" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Year of terminal degree</label>
                                <input ng-model="yearOfTerminalDegree" class="form-control" placeholder="1982" required>
                            </div>
                            <div class="form-group">
                                <label>Institutions</label>
                                <textarea ng-model="institutions" class="form-control" placeholder="Weill Cornell Medicine" rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Known relationships <i>Last Name,First Name,Middle Name</i></label>
                                <textarea ng-model="knownRelationships" class="form-control" placeholder="Johnson,Truman," rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Known PMIDs</label>
                                <textarea ng-model="knownPmids" class="form-control" placeholder="26321879" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>