<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">rc_identity</h1>
  </div>  
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Choose a json file to be uploaded to rc_identity.
        <json-formatter json="{my: 'json'}" open="1"></json-formatter>
      </div>
      <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form" ng-controller='DataImport' ng-submit='submit()'>
            <div class="form-group">
              <label>File input</label>
              <input type="file" on-read-file="showContent($fileContent)">
            </div>
            <div ng-if="content">
              <h2>File content is:</h2>
              <pre>{{ content }}</pre>
            </div>
            <button type="submit" class="btn btn-default">upload data</button>
          </form>
        </div>
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>