<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active: collapseVar==4}">{{dropDown}}
                <a href="" ng-click="check(4)"><i class="fa fa-wrench fa-fw"></i>ReCiter<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.reciter-new">New</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.reciter-existing">Existing</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==5}">{{dropDown}}
                <a href="" ng-click="check(5)"><i class="fa fa-wrench fa-fw"></i>Data Import<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.data-import">rc_identity</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.data-import-rc-gold-standard">rc_gold_standard</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <!-- <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li> -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 